.feedcard-post-img {
  border-radius: 50%;
  overflow: hidden;
  height: 32px;
  width: 32px;
}
.feedcard-post-owner-time {
  font-size: 80%;
}
.feedcard-post-owner-time-snap {
  font-weight: bold;
}

.feed-intput-textarea {
  resize: none;
  margin-bottom: 1%;
  outline: none;
}
